@using CupLeagueGenerator.Infrastructure.Data.DataModels
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<style>

    body {
        background-color: slategray;
    }

    h1 {
        font-style: italic;
    }

    .container {
        margin: 100px auto;
        width: 300px;
        text-align: center;
    }

    input {
        margin-bottom: 10px; /* Adjust the margin as needed */

        background-color: lightgray;
        font-weight: bolder;
        height: 30px;
        width: 300px;
        font-size: 18px;
    }

        input:hover {
            background-color: lightsteelblue;
        }

    .line {
        color: black;
        width: 300px;
        font-weight: bolder;
    }

    .logout{
        background-color:red;
    }
</style>

<body>
    <form method="get">
        <div class="container">          
      
            @if (SignInManager.IsSignedIn(User))
            {
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
                <hr class="line">
                <input type=submit asp-action="Index" asp-controller="Cup" value="Cup">
             
                <input type=submit asp-action="Index" asp-controller="League" value="League">
                <hr class="line">
                <input type=submit class="logout" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" value="Logout">
                <hr class="line">
            }
            else
            {
                <input type=submit value="Register" asp-area="Identity" asp-page="/Account/Register">
                <hr class="line">
                <input type=submit value="Login" asp-area="Identity" asp-page="/Account/Login">
            }
        </div>
    </form>
</body>