@using CupLeagueGenerator.Infrastructure.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers;
@model CupModel


<head>
    <link rel="stylesheet" href="~/css/cupIndex.css" />
</head>

<body>

    <h1>dasdasd</h1>


</body>

