@using CupLeagueGenerator.Infrastructure.Models
@model LeagueModel

@{
    var count = 0;
}

<head>
    <link rel="stylesheet" href="~/css/LeagueFixtures.css" />
</head>

<body>
    <table class="table table-bordered table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Home Team</th>
                <th scope="col">Away Team</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var fixture in @Model.Fixtures)
            {
                count++;
                <tr>
                    <th scope="row">@count</th>
                    <td>@fixture.HomeTeam</td>
                    <td>@fixture.AwayTeam</td>
                </tr>
            }

        </tbody>
    </table>
</body>