

body {
    background-color: grey;
    font-family: "Mandy's Sketch";
    text-align: center;
}

.newCupBtn:hover {
    background-color: grey;
    color:white;
    font-weight:bolder;
}

.form {
    margin: 0 auto;
    width: 50%;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
}


/* Add this CSS to center the table horizontally */
.table {
    width: fit-content; /* Adjust the width as needed */
    margin: 0 auto; /* Set left and right margins to "auto" to center */
    text-align: center;
}

    /* Your existing CSS for the table styling can remain the same */
    .table thead th {
        background-color: #ccc;
    }

/* Add your other table styles here */
